@charset "utf-8";

/*

Colourscheme:

AQUA # 6BBAA7
Sunshine # FBA100
LAVANDER # 6C638B
DUSTY ROSE # B6A19E

*/

.mainbody

{
	
	background: url(../images/ibm_brewery.jpg) no-repeat center center fixed; 
	 background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.joe
{
	background-color: #FBA100;
}

footer {
	font-size: small;
	text-align: right;
	clear: both;
	font-weight: bold;
}

.asideRight {
	float: right;
	width: 85%;
	height: 70px;
}
.title {
	background-color: #1A7064;
	/* [disabled]height: 100px; */
	margin-top: 0px;
	padding-bottom: 50px;
	padding-top: 30px;
}

.asideFeed {
	float: left;
	border-radius: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	margin-left: 1em;
	padding-left: 10px;
	width: 29%;
	/* [disabled]display: block; */
}

.asideLeft {
	width: 15%;
	float: left;
	height: 110px;
}
}
.aside {
	width: 100%;
	height: 200px;
}

header {
	width: 100%;
	height: 30px;
	color: #FBA100;
	text-align: center;
	padding-bottom: 2px;
	float: none;
	clear: none;
	font-style: italic;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: no-display;
	z-index: 10;
}
.content {
	width: 60%;
	float: left;
	border-radius: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	margin-left: 1em;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
body section {
	border-radius: 10px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.33) 27.98%,rgba(26,112,100,1.00) 100%);
	float: left;
	width: 4em;
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.social {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
nav {
	width: 75%;
	position: fixed;
	overflow-y: no-display;
	z-index: 10;
	margin-top: 100px;
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	/*border-right: 1px solid #ccc;*/
}
.navlist {
	width: 100%;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	overflow: hidden;
	background-image: -webkit-linear-gradient(270deg,rgba(26,112,100,1.00) 27.98%,rgba(26,112,100,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(26,112,100,1.00) 27.98%,rgba(26,112,100,1.00) 100%);
	
}
.navlistitem {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.navlistitem a {
	text-decoration: none;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #000000;
	/*-right: 1px solid #ccc;*/
}
.navlistitem a:hover {
	color: #FBA100;
	background-color: #1A7064;
}
#top
{
	width: 100%;
	min-height: 200px;
	float: left;






.title {
; 	background-color: #1A7064;
	background-color: #1A7064;
	background-color: #1A7064;
	background-color: #1A7064;
	background-color: #1A7064;
	background-color: #1A7064;
	background-color: #000000;
	background-color: 6BBAA7;
	background-color: #6BBAA7;
	background-color: #6BBAA7;
	background-color: #1A7064;
}


	
